:root {
  --nav-bar:60px;
  --header-height: 90px; 
  --side-width: 80px;
  --side-width-l:160px;
}

/** Reset **/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
ul {
  list-style: none;
}



body {
  font-family: system-ui, sans-serif;
}



/** Utils **/





/** Debug **/
.dbrd{
  border: 2px dashed black;
}
.dh{
  min-height: 200px;
}

.nav-bar{
  min-height: var(--nav-bar);
}

/*.container{
  min-height: 500px;
}/*


/***navbar***/
.lodo-mall{
  max-width: 50px;
}
.bell{
  color:rgb(247, 143, 5) ;
}




/** MAIN **/
main{
  
  /*Debug*/
  background-color: #888;
}
.sidebar{
  min-height: calc(100vh - var(--nav-bar));
  width: var(--side-width);
  background-color: rgb(18, 41, 62);
  color: white;
  font-size: 1.3rem;
  
}
.sidebar > div {
  margin: 0 auto;
  padding: 0.5rem 0;
}
.sidebar > div:hover{
  background-color: #888;
}







.content{
  min-height: calc(100vh - var(--nav-bar));
  width: calc(100vw - var(--side-width));
}

/** HEADER **/
.header {
  min-height: var(--header-height);
  /*Debug*/
  background-color: rgb(47, 114, 233);
}

/**main**/
.border-bottom{
  border: rgba(0, 0, 0, .5);
}



/** FOOTER **/
.footer {
  min-height: var(--footer-height);
  background-color: goldenrod;
}





/****************** Media *********************/
@media all and (min-width:992px) {
  .sidebar{
    width: var(--side-width-l);
    font-size: 1.1rem;
  }
  .sidebar > div {
    margin: 0;
  }
  .content{
    width: calc(100vw - var(--side-width-l));
  }
  
}