:root {
  --nav-bar:60px;
  --header-height: 90px; 
  --side-width: 150px;

}

/** Reset **/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: system-ui, sans-serif;
}



/** Utils **/





/** Debug **/
.dbrd{
  border: 2px dashed black;
}
.dh{
  min-height: 200px;
}

.nav-bar{
  min-height: var(--nav-bar);
}

.container{
  min-height: 500px;
}




/** MAIN **/
main{
  
  /*Debug*/
  background-color: #888;
}
.sidebar{
  min-height: calc(100vh - var(--nav-bar));
  width: var(--side-width);
  background-color: 11111;
}
.content{
  min-height: calc(100vh - var(--nav-bar));
  width: calc(100vw - var(--side-width));
}
/** HEADER **/
.header {
  min-height: var(--header-height);
  /*Debug*/
  background-color: rgb(251, 133, 91);
}




/** FOOTER **/
.footer {
  min-height: var(--footer-height);
  background-color: goldenrod;
}